﻿
@{
    ViewBag.Title = "MeusIngressos";
    Layout = "~/Views/LayoutPortal.cshtml";
}



<!DOCTYPE html>
<html lang="en">
<head>

    <style>

    </style>
    <h2>MeusIngressos</h2>
    <title>Meus Ingressos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    </style>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-log-in"></span><a href="#" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-search"></span> Search
                            </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">

            </div>
            <div class="jumbotron text-center">
                <h1>Lista de Eventos</h1>
                <p>Fique ligados em todos os eventos !</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h3>Fique com os melhores eventos de sua região !</h3>
                        <p>Segue as opções abaixo:</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>

</body>
</html>

