﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutPortal.cshtml";
}

<!-- Page Content -->
<div class="container">
    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive img-rounded" src="http://cbjje.com.br/gespress/uploads/2016/04/11143501_942155755842984_8085326101880263743_n-660x330.jpg" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
            <h1>Eventos esportivos</h1>
            <p>Que tal participar de eventos esportivos ? Clique e compre já ! </p>
            @*<a class="btn btn-primary btn-lg" href=""@Url.Content("~/Admin")"">Comprar Ingressos</a>*@
            <a href="http://localhost:8885/Produto">
                <button class="btn btn-primary btn-lg">Comprar Ingressos</button>
            </a>
            @*</button>
                <a class="navbar-brand" href="@Url.Content("~/Admin/Index")">*@
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <hr>
    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                Melhor site de vendas de ingressos para eventos esportivos !! Venha conhecer todos os pequenos eventos esportivos.
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4">
            <h2>Campeonato de futebol</h2>
            <p>São copas disputadas por equipes de dois ou mais estados ou de determinadas regiões do Brasil. Atualmente existem três de maior importância: a Copa Verde, entre equipes do norte, centro-oeste e do Espírito Santo, e a Copa do Nordeste entre equipes do nordeste. Os campeões de ambas ganham vagas às oitavas-de-final da Copa do Brasil do ano seguinte.</p>
            <a href="http://localhost:8885/Produto">
                <button class="btn btn-default">Veja as informações do evento</button>
                <</a>

</div>
        <!-- /.col-md-4 -->

        
        <div class="col-md-4">
            <title>Principais eventos !</title>
            <h2>Campeonato de Counter-Strike</h2>
            <p>O ano de 2018 reserva muitos desafios para os brasileiros nos esportes eletrônicos tanto em solo nacional quanto fora do país. Para você ficar por dentro da caminhada de suas equipes favoritas.</p>
            <a href="http://localhost:8885/Produto">
                <button class="btn btn-default">Veja as informações do evento</button>
                
            </a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2>Campeonato Regional de Skate</h2>
            <p>É um torneio que acontece em cinco etapas continentais anuais, com skatistas profissionais e amadores. Os campeões de cada uma ganham o direito de competir na fase regional.</p>
            <a href="http://localhost:8885/Produto">
                <button class="btn btn-default">Veja as informações do evento</button>  
                </a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    