﻿@model ProdutoWeb.Models.Contato

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutPortal.cshtml";
}

<!-- Page Content -->
<div class="container">
    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                @if (!ViewData.ModelState.IsValid )
                {
                   @Html.ValidationSummary()
                }

                <h2>Contato</h2>

                
                @using (Html.BeginForm("Gravar", "Contato", FormMethod.Post))
                {
                    <div class="form-group">
                        <label class="control-label" for="Nome">Nome:</label>
                        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Nome)
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="Email">e-Mail:</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="TipoContato.IdTipoContato">Tipo Contato:</label>
                        @Html.DropDownListFor(model => model.TipoContato.IdTipoContato, new SelectList(ViewBag.ListaTipoContato, "IdTipoContato", "NomeTipoContato"), "Selecione", new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="Mensagem">Mensagem:</label>
                        @Html.TextAreaFor(model => model.Mensagem, new { @class = "form-control", @cols=100, @rows=10 } )
                        @Html.ValidationMessageFor(model => model.Mensagem)
                    </div>

                    
                    <a class="btn btn-default btn-lg" href="/">Cancelar</a>
                    <button type="submit" class="btn btn-primary btn-lg">Gravar</button>

                }

            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

