﻿@model IEnumerable<ProdutoWeb.Models.Evento>

@{
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    <!-- Page Content -->
    <div class="container">
        <!-- Heading Row -->
        <div class="row">

            <div class="col-md-12">
                <h1>Produtos</h1>

                <p class="toolbar">
                    @Html.ActionLink("Novo Produto", "Inserir", new object { }, new { @class = "create btn btn-default" } )
                    <br />
                    <span class="alert">@TempData["mensagem"]</span>
                </p>
                <table class="table table-striped" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th data-field="name">@Html.DisplayNameFor(model => model.Nome)</th>
                            <th data-field="stargazers_count">Descrição</th>
                            <th data-field="forks_count">Preço</th>
                            <th class="actions" width="220">Ações</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Nome</td>
                            <td>@Html.DisplayFor(modelItem => item.Descricao) </td>
                            <td>@Html.DisplayFor(modelItem => item.Preco)</td>
                            <td class="actions">
                                <a class="btn btn-success btn-xs" href="/Produto/Consultar/@item.Id">Visualizar</a>
                                @Html.ActionLink("Editar","Editar", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                                @Html.ActionLink("Excluir", "Excluir", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })

                            </td>
                        </tr>
                        }

                    </tbody>
                </table>



            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->


</body>
</html>
